# Temp
*.cpp~
*.md~
*.pas~
*.out~
*.in~
*.swp

# Contests
2015/**/source/**/*.in
2015/**/source/**/*.out
2015/**/source/**/*.exe
2015/**/source/**/*.ans
2015/**/source/**/a

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.app
